<ion-header [translucent]="true">
  <ion-toolbar color="red">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="video">
    <img src="../../assets/filme.gif">
  </div>
  
  <div class="titulos">
    <h5> Continue Assistindo </h5>
  </div>
  
  <ion-slides [options]="slideOptons">
    <ion-slide class="fases">
      <img src="../../assets/filmes/ffh.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/17 - R2TxVrN.jpg" alt="Thor: Ragnarok">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/22 - 5TzfGzK.jpg" alt="Vingadores: Ultimato">
    </ion-slide>
  </ion-slides>
  
  <div class="titulos">
    <h5> Fase 1 </h5>
  </div>

  <ion-slides [options]="slideOptons">
    <ion-slide>
      <img src="../../assets/filmes/1.jpeg" alt="Homem de Ferro">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/2 - 0uthCmp.jpg" alt="O Incrível Hulk">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/3 - T0lmOVz.jpg" alt="Homem de Ferro 2">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/4 - mt4ZRzw.jpg" alt="Thor">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/5 - UFmSVtZ.jpg" alt="Capitão América: O Primeiro Vingador">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/6 - 9pVNc1l.jpg" alt="Vingadores: The Avengers">
    </ion-slide>
  </ion-slides>

  <div class="titulos">
    <h5> Fase 2 </h5>
  </div>

  <ion-slides [options]="slideOptons">
    <ion-slide>
      <img src="../../assets/filmes/7 - 3etivT1.jpg" alt="Homem de Ferro 3">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/8 - kvWKoMi.jpg" alt="Thor: O Mundo Sombrio">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/9 - Pm2Fraf.jpg" alt="Capitão América: O Soldado Invernal">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/10 - uYHirFR.jpg" alt="Guardiões da Galáxia">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/11 - HTCNWUb.jpg" alt="Vingadores: Era de Ultron">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/12 - zdi4zcy.jpg" alt="Homem-Formiga">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/19 - ns6gbkg.jpg" alt="Vingadores: Guerra Infinita">
    </ion-slide>
  </ion-slides>

  
  <div class="titulos">
    <h5> Fase 3 </h5>
  </div>

  <ion-slides [options]="slideOptons">
    <ion-slide>
      <img src="../../assets/filmes/13 - rxs2NWx.jpg" alt="Capitão América: Guerra Civil">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/14 - pVEDruM.jpg" alt="Doutor Estranho">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/15 - EWcvucl.jpg" alt="Guardiões da Galáxia: Vol.2">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/16 - H1cRygg.jpg" alt="Homem Aranha: De Volta ao Lar">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/17 - R2TxVrN.jpg" alt="Thor: Ragnarok">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/18 - JOSEGKf.jpg" alt="Pantera Negra">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/19 - ns6gbkg.jpg" alt="Vingadores: Guerra Infinita">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/20 - GODyp3Y.jpg" alt="Homem-Formiga e a Vespa">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/21 - 39aIfzI.jpg" alt="Capitã Marvel">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/22 - 5TzfGzK.jpg" alt="Vingadores: Ultimato">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/filmes/ffh.jpg" alt="Homem Aranha: Longe de Casa">
    </ion-slide>
  </ion-slides>

</ion-content>
