<ion-header [translucent]="true">
  <ion-toolbar color="red">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="video">
    <img src="../../assets/series.gif">
  </div>
  
  <div class="titulos">
    <h5> Séries UCM </h5>
  </div>

  <ion-slides [options]="slideOptons">
    <ion-slide>
      <img src="../../assets/series/wandavision.jpg" alt="WandaVision">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/series/tfatws.jpg" alt="Falcão e o Soldado Invernal">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/series/Loki.jpeg" alt="Loki">
    </ion-slide>
  </ion-slides>

  <div class="titulos">
    <h5> Séries Documentais </h5>
  </div>

  <ion-slides [options]="slideOptons">
    <ion-slide>
      <img src="../../assets/series/616.jpg" alt="616">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/series/avante.jpg" alt="Avante">
    </ion-slide>
    <ion-slide>
      <img src="../../assets/series/lendas.jpg" alt="Lendas">
    </ion-slide>
  </ion-slides>

  
  <div class="titulos">
    <h5> Séries Colabs </h5>
  </div>

  <ion-slides [options]="slideOptons">
      <ion-slide>
        <img src="../../assets/series/carter.jpg" alt="Agente Carter">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/series/daredevil.jpg" alt="Demolidor">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/series/defensores.jpg" alt="Defensores">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/series/inumanos.jpg" alt="Inumanos">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/series/iron-fist.jpg" alt="Punhos de Ferro">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/series/jones.jpg" alt="Jéssica Jones">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/series/just.jpg" alt="Justiceiro">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/series/run.jpg" alt="Runaway">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/series/aos.jpg" alt="Agente Carter">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/series/luke.jpg" alt="Luke Cage">
      </ion-slide>
  </ion-slides>

</ion-content>
