<ion-tabs>

  <ion-tab-bar slot="bottom" color="danger">
    <ion-tab-button tab="Pizzas">
      <ion-icon name="pizza-outline"></ion-icon>
      <ion-label>Pizzas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Bebidas">
      <ion-icon name="beer-outline"></ion-icon>
      <ion-label>Bebidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Pedidos">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
