.pizza{
    h1{
        font-size: 17px;
        font-weight: bold;
    }
    p{
        font-size: 14px;
        font-weight: 300;
        color: #9e9d9d;
    }
}

.price{
    .preco{
        font-weight: 300;
    }
}