<ion-header [translucent]="true">
  <ion-toolbar color="red">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="video">
    <img src="../../assets/hqs.gif">
  </div>
  
  <div class="pesquisa">
    <ion-searchbar showCancelButton="always" placeholder="Digite Aqui! S2"></ion-searchbar>
  </div>

  <div class="titulos">
    <h5> Sagas </h5>
  </div>

  <ion-slides [options]="slideOptons">
      <ion-slide>
        <img src="../../assets/hqs/armor.png" alt="Guerra das Armaduras">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/avsxm.png" alt="Avengers vs X-Men">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/children.png" alt="Cruzada das Crianças">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/civil.png" alt="Guerra Civil">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/dinastia.png" alt="Dinastia M">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/fall.png" alt="Vingadores: A Queda">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/gavigod.png" alt="Gavião Arqueiro">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/infinity.png" alt="Cruzada Infinita">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/pecado.png" alt="Pecado Original">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/smash.png" alt="Futuro Imperfeito">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/witcher.png" alt="Feiticeira Escarlate">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/hqs/young.png" alt="Jovens Vingadores">
      </ion-slide>
  </ion-slides>

</ion-content>
